<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="dork.music.player">
	
	<uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission
        android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
	<uses-permission
        android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS" />
	
	<application
        android:name=".App"
        android:icon="@drawable/music_ic_blue"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:resizeableActivity="true"
		android:requestLegacyExternalStorage="true"
        android:preserveLegacyExternalStorage="true">

        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity android:name=".common.crash.CrashHandler$CrashActiviy"/>


        <activity
            android:name=".ui.activity.music"
            android:label="@string/app_name"/>
		<activity
            android:name=".ui.activity.Themes"
            android:label="Themes"/>
			
        <meta-data
            android:name="android.max_aspect"
            android:value="4.0"/>
		<provider
			android:name="android.support.v4.content.FileProvider"
			android:exported="false"
			android:authorities="dork.music.player.ui.activity.fileprovider"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/provider"/>
		</provider>
		
    </application>

</manifest>
