body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100%;
}
.labelContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.label {
  color: #ffffff;
  margin: 0 12px;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  animation: loads: 1s ease-in-out infinite;
  -webkit-animation: loads 1s cubic-bezier(0.5, 0.5, 0, 1.5) infinite;
  align-items: center;
  justify-content: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -webkit-box-shadow: inset 0 4px 0 rgba(255, 255, 255, .15), 0 2px 2px rgba(0, 0, 0, .075);
          box-shadow: inset 0 4px 0 rgba(255, 255, 255, .15), 0 2px 2px rgba(0, 0, 0, .075);
}
.label:nth-child(1) {
  animation-delay: 0.2s;
  
}
.label:nth-child(2) {
  animation-delay: 0.4s;
  
}
.label:nth-child(3) {
  animation-delay: 0.6s;
}
.label:nth-child(4) {
  animation-delay: 0.8s;
}
.label:nth-child(5) {
  animation-delay: 1s;
}
.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.slider {
  overflow: hidden;
  background-color: transparent;
  margin: 0 15px;
  height: 80px;
  width: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1), -15px -15px 30px #fff,
    inset -5px -5px 10px rgba(0, 0, 255, 0.1),
    inset 5px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1), -15px -15px 30px #fff,
    inset -5px -5px 10px rgba(0, 0, 255, 0.1),
    inset 5px 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  -webkit-box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.3), 0px 420px 0 400px #2697f3,
    inset 0px 0px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.3), 0px 420px 0 400px #2697f3,
    inset 0px 0px 0px rgba(0, 0, 0, 0.1);
  -webkit-animation: animate_2 2.5s ease-in-out infinite;
          animation: animate_2 2.5s ease-in-out infinite;
  -webkit-animation-delay: calc(-0.5s * var(--i));
          animation-delay: calc(-0.5s * var(--i));
}

@-webkit-keyframes animate_2 {
  0% {
    -webkit-transform: translateY(250px);
            transform: translateY(250px);
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }

  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(250px);
            transform: translateY(250px);
    -webkit-filter: hue-rotate(180deg);
            filter: hue-rotate(180deg);
  }
}

@keyframes animate_2 {
  0% {
	
    -webkit-transform: translateY(250px);
            transform: translateY(250px);
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }

  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(250px);
            transform: translateY(250px);
    -webkit-filter: hue-rotate(180deg);
            filter: hue-rotate(180deg);
  }
}
@media screen and (max-width: 767px){
  
}
@keyframes loads {
  0% {
	transform: translateY(0px);
  }
  100% {
	transform: translateY(10px);
  }
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
